<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>人人汽车网</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../node_modules/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../src/css/cardetails.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script
      type="module"
      defer
      src="../node_modules/jquery/dist/jquery.min.js"
    ></script>
    <script
      type="module"
      defer
      src="../node_modules/bootstrap/dist/js/bootstrap.min.js"
    ></script>
    <script defer src="../node_modules/swiper/swiper-bundle.min.js"></script>
    <script defer src="../src/js/cardetails.js"></script>
  </head>

  <body>
    <main class="main">
      <section class="carousel-section">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="carousel-img" src="../src/img/car11.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img class="carousel-img" src="../src/img/car11.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img class="carousel-img" src="../src/img/car11.png" alt="" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="car-nav">
          <div class="nav-icon-box">
            <div class="back-icon-box">
              <img class="back-icon" src="../src/icon/back.png" alt="" />
            </div>
            <div>
              <img class="function21" src="../src/icon/function21.png" alt="" />
              <img
                class="function02-white"
                src="../src/icon/function02-white.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="configuration-box">
          <img class="function20" src="../src/icon/function20.png" alt="" />
          <p class="configuration-text">参数配置</p>
        </div>
      </section>
      <section class="details-section">
        <div class="details-box">
          <p class="details-title">
            <span>588ku.</span>
            <span>2016款</span>
            <span>2.0T</span>
            <span>自动尊享型</span>
            <span>带天窗</span>
          </p>
          <div class="label-box">
            <span>金牌认证</span>
            <span>性价比超高</span>
          </div>
          <div class="price-box">
            <p class="price">¥<span>5.2</span>万</p>
            <p class="installments">
              <span> 首付:&nbsp;0.89万 </span>
              <span> 月供2203元</span>
              <span>></span>
            </p>
          </div>
        </div>
      </section>
      <section class="car-file-section">
        <div class="car-file-box">
          <p class="car-file-title">车辆档案</p>
        </div>
        <div class="file-grid-box">
          <div>
            <p class="show-title">2016年03月上牌</p>
            <p class="show-text">3年4个月</p>
          </div>
          <div>
            <p class="show-title">表显里程牌</p>
            <p class="show-text">3.6万公里</p>
          </div>
          <div>
            <p class="show-title">排放标准</p>
            <p class="show-text">国5</p>
          </div>
          <div>
            <p class="show-title">颜色</p>
            <p class="show-text">白色</p>
          </div>
          <div>
            <p class="show-title">自然吸气</p>
            <p class="show-text">2.0L</p>
          </div>
          <div>
            <p class="show-title">提车时间</p>
            <p class="show-text">5-7天</p>
          </div>
        </div>
      </section>
      <section class="buying-service-section">
        <div class="buying-service-box">
          <p class="buying-service-title">购车服务</p>
          <div class="buying-service-item">
            <p class="service-item-title">认证服务</p>
            <p class="service-item-text">
              <span>315检测</span>
              <span>无重大事故</span>
              <span>无水泡</span>
              <span>无火烧</span>
            </p>
          </div>
          <div class="buying-service-item">
            <p class="service-item-title">认证服务</p>
            <p class="service-item-text">
              <span>315检测</span>
              <span>无重大事故</span>
              <span>无水泡</span>
              <span>无火烧</span>
            </p>
          </div>
          <div class="buying-service-item">
            <p class="service-item-title">认证服务</p>
            <p class="service-item-text">
              <span>315检测</span>
              <span>无重大事故</span>
              <span>无水泡</span>
              <span>无火烧</span>
            </p>
          </div>
          <div class="buying-service-item">
            <p class="service-item-title">认证服务</p>
            <p class="service-item-text">
              <span>315检测</span>
              <span>无重大事故</span>
              <span>无水泡</span>
              <span>无火烧</span>
            </p>
          </div>
        </div>
      </section>
    </main>
    <nav class="cardetails-nav-section">
      <div class="cardetails-nav-box">
        <div class="cardetails-nav-item">
          <img class="function18" src="../src/icon/function18.png" alt="" />
          <p>对比</p>
        </div>
        <div class="cardetails-nav-item">
          <img class="function19" src="../src/icon/function19.png" alt="" />
          <p>收藏</p>
        </div>
        <div class="nav-bottom-box">
          <button class="phone-button">电话咨询</button>
          <button class="online-button">在线咨询</button>
        </div>
      </div>
    </nav>
  </body>
</html>
