<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>人人汽车网</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/css/dialogue.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script type="module" defer src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <main class="main">
        <section class="head-section">
            <div class="headDiv">
                <img class="head-img" src="../src/img/dialoguebg.png" alt="" />
            </div>
            <div class="head-content">

                <img src="../src/icon/back.png" class="back" />

                <span>小艾</span>
                <img src="../src/icon/function02-white.png" class="function02icon" />
            </div>
        </section>
        <section class="dialogsection">
            <div class="dialogdiv"">
            <div class=" datediv">2019-08-10 19:30</div>
            <div class="custom02dialog">
                <img class="custim02img" src="../src/icon/customimg02.png" alt="#" />
                <div class="custom02-content">
                    <p class="custom02message">您好，我看您这明天是去深圳的顺风车，</p>
                    <p class="custom02message">方便搭个伴吗？男生一枚...</p>
                </div>
            </div>
            <div class="custom01dialog">
                <div class="custom01-content">
                    <p class="custom01message">您好，没问题啊，明天几点出发？</p>
                </div>
                <img class="custim01img" src="../src/icon/customimg01.png" alt="#" />
            </div>
            <div class="custom01dialog">
                <div class="custom01-content02">
                    <p class="custom01message02">请问您的行李多吗，我这边的行李可能会</p>
                    <p class="custom01message02">多一点那，可以吗？</p>
                </div>
                <img class="custim01img" src="../src/icon/customimg01.png" alt="#" />
            </div>
            <div class="custom02dialog">
                <img class="custim02img" src="../src/icon/customimg02.png" alt="#" />
                <div class="custom02-content">
                    <p class="custom02message">我没什么行李，就一个随身携带的背包，</p>
                    <p class="custom02message">不要紧的</p>
                </div>
            </div>
            <div class="custom01dialog">
                <div class="custom01-content03">
                    <img class="voiceimg" src="../src/img/voice.png" alt="" />
                    <p class="voicetime">6s</p>
                </div>
                <img class="custim01img" src="../src/icon/customimg01.png" alt="#" />
            </div>
        </section>
        <nav class="nav_section">
            <input class="inputmessage" type="text" />
            <img class="emoteimg" src="../src/icon/emote.png" alt="" />
            <img class="moreimg" src="../src/icon/more.png" alt="" />
        </nav>
    </main>
    <script>
        document.querySelector('.back').addEventListener('click', function () {
            window.history.back();
        })
    </script>
</body>

</html>