<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>人人汽车网</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/css/evaluate.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script defer src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <main class="main">
        <section class="head-section">
            <div class="headbg">
                <a class="goto-view" href="./sellcar.html">
                    <img src="../src/icon/back.png" class="back" />
                </a>
                <span>为您估价</span>
                <a class="goto-view" href="./dialogue.html">
                    <img src="../src/icon/function02-white.png" class="function02icon" />
                </a>
            </div>
        </section>
        <section class="content-section">
            <div class="contentdiv">
                <div class="sellcaritem">
                    <p class="sellcarmessage">卖车地点</p>
                    <div class="rightcontent">
                        <span class="sellcarcity">深圳</span>
                        <img class="selectimg" src="../src/icon/myfunctionlisticon-right.png" alt="" />
                    </div>
                </div>
                <div class="sellcaritem">
                    <p class="sellcarmessage">车型</p>
                    <div class="rightcontent">
                        <span class="selcettext">请选择</span>
                        <img class="selectimg" src="../src/icon/myfunctionlisticon-right.png" alt="" />
                    </div>
                </div>
                <div class="sellcaritem">
                    <p class="sellcarmessage">上牌时间</p>
                    <div class="rightcontent">
                        <span class="selcettext">请选择</span>
                        <img class="selectimg" src="../src/icon/myfunctionlisticon-right.png" alt="" />
                    </div>
                </div>
                <div class="sellcaritem">
                    <p class="sellcarmessage">行驶里程（万公里）</p>
                    <div class="rightcontent">
                        <span class="selcettext">请选择</span>
                        <img class="selectimg" src="../src/icon/myfunctionlisticon-right.png" alt="" />
                    </div>
                </div>
                <div class="sellcaritem">
                    <p class="sellcarmessage">联系方式</p>
                    <div class="rightcontent">
                        <span class="selcettext">请选择</span>
                        <img class="selectimg" src="../src/icon/myfunctionlisticon-right.png" alt="" />
                    </div>
                </div>
                <div class="sellcarintentionitem">
                    <p class="sellcarmessage">卖车意向</p>
                    <div class="rightcontent">
                        <span class="selcettext">请选择</span>
                        <img class="selectimg" src="../src/icon/myfunctionlisticon-right.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="navsection">
            <div class="navdiv">
                <div class="inputdiv">
                    <p>开始估价</p>
                </div>
                <div class="messagediv">
                    * 您的爱车每天约贬值0.03%
                </div>
            </div>
        </section>
    </main>
</body>

</html>