<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>人人汽车网</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../node_modules/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../src/css/hitchhike.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script
      type="module"
      defer
      src="../node_modules/jquery/dist/jquery.min.js"
    ></script>
    <script
      type="module"
      defer
      src="../node_modules/bootstrap/dist/js/bootstrap.min.js"
    ></script>
  </head>
  <body>
    <main class="main">
      <div class="linear-bac"></div>
      <section class="head-section">
        <div class="head-box">
          <img class="head-back-icon" src="../src/icon/back.png" alt="" />
          <p class="head-text">顺风车</p>
          <img
            class="head-message-icon"
            src="../src/icon/function02-white.png"
            alt=""
          />
        </div>
      </section>
      <section class="city-section">
        <div class="city-box">
          <div class="select-box">
              <select class="choose-select" name="" id="">
                <option value="">出发城市</option>
                <option value="">出发城市</option>
                <option value="">出发城市</option>
              </select>
            </div>
          <div class="select-box">
              <select class="choose-select" name="" id="">
                <option value="">到达城市</option>
                <option value="">到达城市</option>
                <option value="">到达城市</option>
              </select>
            </div>
          <div class="select-box">
              <select class="choose-select" name="" id="">
                <option value="">用车时间</option>
                <option value="">用车时间</option>
                <option value="">用车时间</option>
              </select>
            </div>
          </div>
        </div>
      </section>
      <section class="car-message-section">
        <div class="car-message-box">
          <div class="car-message-item">
            <div class="car-item1-box">
              <div class="car-message-img-box">
                <img class="car-img" src="../src/img/car04.png" alt="">
              </div>
              <div class="car-message-text-box">
                <div class="car-message-text">
                  <p class="car-message-title">上海</p>
                  <p class="car-message-time">08-12周一</p>
                </div>
                <img class="car-message-line" src="" alt="">
                <div class="car-message-text">
                  <p class="car-message-title">上海</p>
                  <p class="car-message-time">08-12周一</p>
                </div>
              </div>
            </div>
            <div>

            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
