<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>人人汽车网</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/css/login.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script defer src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <main class="main">
        <div class="linear-bac"></div>
        <img src="../src/img/logincar.png" class="bgpng" />
        <section class="backsvg">
            <img src="../src/icon/back.png" class="loginback" />
            <span>注册登陆</span>
            <img src="../src/icon/function22.png" class="function22icon" />
        </section>
        <section class="logword">
            <p>顺风车行</p>
            <p class="goload">一路向前</p>
        </section>
        <section class="inputuser">
            <div class="inputuer-box">
                <div class="inputbox">
                    <input type="text" class="usernumber" placeholder="输入手机号码" />
                </div>
                <div class="codebox">
                    <input type="text" class="usercode" placeholder="输入验证码" />
                </div>
                <button class="usersumbit">立即登录</button>
                <p class="usertext">首次登录用户验证后自动登录</p>
            </div>
        </section>


        <section class="infobuttom-section">
            <div class="infobuttom-box">
                <p class="firstinfo">其他登录方式</p>
                <div class="infobuttom-box-png">
                    <div class="infobuttom-png-item">
                        <div class="infobuttom-png-div">
                            <img src="../src/icon/wechat.png" class="infobuttom-img" />
                        </div>
                    </div>
                    <div class="infobuttom-png-item">
                        <div class="infobuttom-png-div">
                            <img src="../src/icon/QQ.png" class="infobuttom-img" />
                        </div>
                    </div>
                    <div class="infobuttom-png-item">
                        <div class="infobuttom-png-div">
                            <img src="../src/icon/weibo.png" class="infobuttom-img" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>