<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>我的</title>
  <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../src/css/general.css" />
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../src/css/my.css" />
  <link rel="stylesheet" href="../src/css/queries.css" />
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="module" defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

  <main class="main">
    <div class="linear-bac">
    </div>
    <section class="settingsvg">
      <div class="settingsvg-box">
        <img src="../src/icon/setting.png" class="settingicon" />
        <p class="hiword">Hi，下午好</p>
      </div>
    </section>
    <section class="myloginandregiest">
      <div class="myloginandregiest-box">
        <div class="head-box">
          <img src="../src/icon/function04.png" class="head-box-img">
          <a class="goto-view" href="./login.html">
            <p class="head-box-p">登陆/注册</p>
          </a>
        </div>

        <div class="myloginandregiest-info-box">
          <div class="info-box">
            <p class="info-box-p1">0</p>
            <p class="info-box-p2">我的咨询</p>
          </div>
          <div class="info-box">
            <p class="info-box-p1">0</p>
            <p class="info-box-p2">我的卡券</p>
          </div>
          <div class="info-box">
            <p class="info-box-p1">0</p>
            <p class="info-box-p2">浏览历史</p>
          </div>
        </div>
      </div>

    </section>
    <section class="myfunctionlist">
      <div class="myfunctionlist-box">
        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-01.png">
          <p class="myfunctioninfo-p">我的预约</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">

        </div>

        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-02.png">
          <p class="myfunctioninfo-p">我的订单</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">
        </div>

        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-03.png">
          <p class="myfunctioninfo-p">我的分期</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">
        </div>
        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-04.png">
          <p class="myfunctioninfo-p">我的优惠</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">
        </div>
      </div>
    </section>

    <section class="myfunctionlist">
      <div class="myfunctionlist-box">
        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-05.png">
          <p class="myfunctioninfo-p">常用工具</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">

        </div>

        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-06.png">
          <p class="myfunctioninfo-p">我的活动</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">
        </div>


      </div>
    </section>
    <section class="myfunctionlist">
      <div class="myfunctionlist-box">
        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-07.png">
          <p class="myfunctioninfo-p">我的咨询</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">

        </div>

        <div class="myfunctioninfo">
          <img class="myfunctioninfo-img1" src="../src/icon/myfunctionlisticon-08.png">
          <p class="myfunctioninfo-p">帮助中心</p>
          <img class="myfunctioninfo-img2" src="../src/icon/myfunctionlisticon-right.png">
        </div>

      </div>
    </section>

    <nav class="nav-section">
      <div class="nav-box">
        <a class="goto-view" href="../index.html">
          <div class="nav-item ">
            <div class="nav-img-box">
              <img class="nav-img" src="../src/icon/function08.png" alt="" />
            </div>
            <span class="nav-text">首页</span>
          </div>
        </a>
        <a class="goto-view" href="./bycar.html">
          <div class="nav-item">
            <div class="nav-img-box">
              <img class="nav-img" src="../src/icon/function05.png" alt="" />
            </div>
            <span class="nav-text">买车</span>
          </div>
        </a>
        <a class="goto-view" href="./rentalcar.html">
          <div class="nav-item">
            <div class="nav-img-box">
              <img class="nav-img" src="../src/icon/function07.png" alt="" />
            </div>
            <span class="nav-text">租车</span>
          </div>
        </a>
        <a class="goto-view" href="./sellcar.html">
          <div class="nav-item">
            <div class="nav-img-box">
              <img class="nav-img" src="../src/icon/function06.png" alt="" />
            </div>
            <span class="nav-text">卖车</span>
          </div>
        </a>
        <a class="goto-view" href="#">
          <div class="nav-item nav-item--active">
            <div class="nav-img-box">
              <img class="nav-img" src="../src/icon/function09-action.png" alt="" />
            </div>
            <span class="nav-text">我的</span>
          </div>
        </a>
      </div>
    </nav>

  </main>
</body>

</html>