<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>人人汽车网</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/css/sellcar.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script defer src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <main class="main">
        <section>
            <img src="../src/img/car06.png" alt="" class="bgpng" />
            <div class="backdiv">
                <div class="backsvg">
                    <div class="cityselectiondiv">
                        <div class="select-box">
                            <select class="choose-select" name="" id="">
                                <option value="">深圳</option>
                                <option value="">深圳</option>
                                <option value="">深圳</option>
                            </select>
                        </div>
                    </div>
                    <span>我要卖车</span> <img src="../src/icon/function02-white.png" class="function02icon" />
                </div>
            </div>
        </section>

        <section>
            <div class="floatdiv">
                <div class="floatfont">
                    <span class="numberspan">256235</span>
                    <span class="fontspan">辆已经成功卖出</span>
                </div>
                <div>
                    <button class="makebutton">预约卖车</button>
                </div>
                <div class="seekdiv">
                    <span>
                        <button class="seekbutton">免费咨询</button>
                    </span>
                    <span>
                        <button class="evaluatebutton">爱车估价</button>
                    </span>
                </div>
            </div>
        </section>

        <section>
            <div class="midllediv">
                <div class="sellprice">卖出高价</div>
                <div class="midlleSquare"></div>
                <div class="midlleTitle">
                    <p>优质客源销售</p>
                    <p>帮您多卖25%</p>
                </div>
            </div>
        </section>

        <section class="bottomSection">
            <div class="bottomDiv">
                <div class="bootomText">近期成交 张先生</div>
                <div class="sellcarbox">
                    <img class="sellcarimg" src="../src/img/sellcar01.png" alt="" />
                    <div>
                        <p class="message">A车/2016款 2.0T 自动舒适</p>
                        <p class="message">带天窗型</p>
                        <p class="mileage">2016年 2.63万公里</p>
                    </div>
                </div>
            </div>

            <div class="bottomDiv">
                <div class="bootomText">近期成交 李先生</div>
                <div class="sellcarbox">
                    <img class="sellcarimg" src="../src/img/sellcar01.png" alt="" />
                    <div>
                        <p class="message">A车/2016款 2.0T 自动舒适</p>
                        <p class="message">带天窗型</p>
                        <p class="mileage">2016年 4.56万公里</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <nav class="nav-section">
        <div class="nav-box">
            <a class="goto-view" href="../index.html">
                <div class="nav-item">
                    <div class="nav-img-box">
                        <img class="nav-img" src="../src/icon/function08.png" alt="" />
                    </div>
                    <span class="nav-text">首页</span>
                </div>
            </a>
            <a class="goto-view" href="views/bycat.html">
                <div class="nav-item">
                    <div class="nav-img-box">
                        <img class="nav-img" src="../src/icon/function05.png" alt="" />
                    </div>
                    <span class="nav-text">买车</span>
                </div>
            </a>
            <div class="nav-item">
                <div class="nav-img-box">
                    <img class="nav-img" src="../src/icon/function07.png" alt="" />
                </div>
                <span class="nav-text">租车</span>
            </div>
            <div class="nav-item nav-item--active">
                <div class="nav-img-box">
                    <img class="nav-img" src="../src/icon/function06-active.png" alt="" />
                </div>
                <span class="nav-text">卖车</span>
            </div>
            <div class="nav-item">
                <div class="nav-img-box">
                    <img class="nav-img" src="../src/icon/function09.png" alt="" />
                </div>
                <span class="nav-text">我的</span>
            </div>
        </div>
    </nav>
</body>

</html>