<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>店铺详情</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../src/css/shopcar.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer src="../src/js/my.js"></script>
</head>

<body>
    <main class="main">
        <img class="bgpng" src="../src/img/shopcarbackground.png" />
        <section class="backsvg">
            <div class="backsvg-img1-box">
                <img class="backsvg-img1" src="../src/img/shopcarback2.png">
            </div>
            <div>
                <img class="backsvg-img2" src="../src/img/shopcarfunction.png">
                <img class="backsvg-img3" src="../src/icon/usedcar-lingling.png">
            </div>
        </section>

        <section class="shopinfo">
            <div class="shopinfo-box">
                <div class="shopinfo-up">
                    <div class="shopinfo-up-box1">
                        <p>深圳大厦4S店</p>
                    </div>
                    <div class="shopinfo-up-box2">
                        <img src="../src/img/shopcarlocal.png">
                        <p>3.2公里</p>
                    </div>
                </div>

                <div class="shopinfo-down">
                    <div class="shopinfo-down-box1">
                        <p>深圳市宝安区黄务街道千库大厦23号</p>
                    </div>
                    <div class="shopinfo-down-box2">
                        <p>+关注</p>

                    </div>
                </div>

            </div>
        </section>



    </main>


</body>

</html>