<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>二手车</title>
    <link rel="icon" href="../src/icon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../src/css/general.css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../src/css/usedcar.css" />
    <link rel="stylesheet" href="../src/css/queries.css" />
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <main class="main">
        <div class="linear-bac"></div>
        <section class="usedcarsvg">

            <img src="../src/icon/usedcar-back.png" class="usedcarback" />

            <span>二手车</span>

            <img src="../src/icon/usedcar-lingling.png" class="usedcarlinglingicon" />
        </section>


        <section class="usedcarlist">

            <div class="usedcarlist-box">
                <div class="usedcarlist-car">
                    <img class="usedcarlist-car-img" src="../src/img/usedcar-01.png">
                </div>
                <div class="userdcarlist-info">
                    <p>A希 558ku 2017款 2.0T

                    </p>
                    <p>
                        运动尊享版四驱
                    </p>
                    <p>
                        准新车&nbsp&nbsp&nbsp&nbsp&nbsp一成购
                    </p>
                    <p>
                        13.65万
                    </p>
                </div>
            </div>

            <div class="usedcarlist-box">
                <div class="usedcarlist-car usedcarlist-car--2">
                    <img class="usedcarlist-car-img" src="../src/img/usedcar-02.png">
                </div>
                <div class="userdcarlist-info">
                    <p>A希 558ku 2017款 2.0T

                    </p>
                    <p>
                        运动尊享版四驱
                    </p>
                    <p>
                        准新车&nbsp&nbsp&nbsp&nbsp&nbsp一成购
                    </p>
                    <p>
                        13.65万
                    </p>
                </div>
            </div>

            <div class="usedcarlist-box">
                <div class="usedcarlist-car usedcarlist-car--3">
                    <img class="usedcarlist-car-img" src="../src/img/usedcar-03.png">
                </div>
                <div class="userdcarlist-info">
                    <p>A希 558ku 2017款 2.0T

                    </p>
                    <p>
                        运动尊享版四驱
                    </p>
                    <p>
                        准新车&nbsp&nbsp&nbsp&nbsp&nbsp一成购
                    </p>
                    <p>
                        13.65万
                    </p>
                </div>
            </div>

            <div class="usedcarlist-box">
                <div class="usedcarlist-car usedcarlist-car--4">
                    <img class="usedcarlist-car-img" src="../src/img/usedcar-04.png">
                </div>
                <div class="userdcarlist-info">
                    <p>A希 558ku 2017款 2.0T

                    </p>
                    <p>
                        运动尊享版四驱
                    </p>
                    <p>
                        准新车&nbsp&nbsp&nbsp&nbsp&nbsp一成购
                    </p>
                    <p>
                        13.65万
                    </p>
                </div>
            </div>

            <div class="usedcarlist-box">
                <div class="usedcarlist-car usedcarlist-car--5">
                    <img class="usedcarlist-car-img" src="../src/img/usedcar-01.png">
                </div>
                <div class="userdcarlist-info">
                    <p>A希 558ku 2017款 2.0T

                    </p>
                    <p>
                        运动尊享版四驱
                    </p>
                    <p>
                        准新车&nbsp&nbsp&nbsp&nbsp&nbsp一成购
                    </p>
                    <p>
                        13.65万
                    </p>
                </div>
            </div>

        </section>

    </main>

</body>

</html>