.sticky .search-section {
  position: fixed;
  width: 100%;
  padding: 1.2rem 3.6rem !important;
  background: linear-gradient(var(--color-brand--1), rgb(137, 197, 240));
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  transition: all 300ms;
}
.sticky .king-section {
  margin-top: 13.306rem;
}

.main {
  padding-bottom: 11.2rem;
}
.linear-bac {
  position: absolute;
  top: 0;
  height: 35.7rem;
  width: 100%;
  background: linear-gradient(
    var(--color-brand--1),
    rgb(137, 197, 240),
    rgba(255, 255, 255, 0.022)
  );
}
/* ************************ */
/* ************************ */
/* search-section */
.search-section {
  padding: 7.9rem 3.6rem 0;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.search-input {
  padding-left: 8.1rem;
  font-size: 2.4rem;
  height: 6.9rem;
  width: 100%;
  border: none;
  border-radius: 2rem;
  background-color: var(--color-dark--3);
}
.search-icon {
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  left: 2.7rem;
}
.notify-icon {
  height: 4rem;
  width: 4rem;
}
/* ************************ */
/* ************************ */
/* carousel-section */
.carousel-section {
  /* background-color: aqua; */
  padding: 3.5rem 3.6rem 2.4rem 3.6rem;
}
.carousel-indicators li {
  border: none;
  transform: translateY(-0.5rem);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
.carousel-item {
  height: 28.3rem;
  border-radius: 2rem;
  overflow: hidden;
}
.carousel-item img {
  width: 43.8rem;
  height: 100%;
  position: absolute;
  right: -6.8em;
}
.carousel-caption-self {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(79, 144, 238),
    rgba(107, 159, 243, 0.99),
    rgba(0, 0, 0, 0)
  );
}

.caption-self-box {
  position: absolute;
  left: 4%;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  /* background-color: antiquewhite; */
}

.carousel-title {
  font-family: "Microsoft YaHei";
  font-size: 5.78rem;
  margin: 0;
}
.carousel-text {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
  margin-top: 2.4rem;
  letter-spacing: 0.1rem;
}
.carousel-time {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
  margin-top: 3.2rem;
  background-color: var(--color-red--3);
  align-self: flex-start;
  padding: 0 0.8rem 0 1.4rem;
  height: 4.2rem;
  border-radius: 2rem;
}
.carousel-right {
  display: inline-block;
  width: 0;
  height: 0;
  box-sizing: content-box;
  border: 0.8rem solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.carousel-img {
  display: block;
  width: 36.3rem;
  height: 13.9rem;
  position: absolute;
  right: 0.5rem;
  bottom: 3.6rem;
}
/* ************************ */
/* ************************ */
/* king-section */
.king-section {
  /* background-color: aqua; */
  padding: 2.4rem 3.6rem;
}
.kings-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 4.6rem;
}
.king-item {
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
}
.king-icon-box {
  position: relative;
  height: 100%;
  background-color: aqua;
}
.king-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.king-text {
  font-size: 2.4rem;
}
/* ************************ */
/* ************************ */
/* pulldown-section */
.pulldown-section {
  /* background-color: aqua; */
  border-top: 0.8rem solid #e5e5e58d;
  border-bottom: 0.1rem solid #e5e5e58d;
  padding: 2.4rem 3.6rem;
}
.pulldown-box {
  display: flex;
  justify-content: space-around;
}
.pulldown-item {
  position: relative;
  padding-right: 3.6rem;
}
.pulldown-item select {
  border: none;
  background: transparent;
  font-size: 2.8rem;
  appearance: none;
}
.pulldown-item::before {
  content: "";
  padding: 1.2rem;
  width: 14px;
  height: 8px;
  background: url(../icon/pulldown.png) no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-20%);
}

/* ************************ */
/* ************************ */
/* car-slider-section */
.car-Slider-section {
  padding: 1.9rem 3rem 0;
}

.swiper {
  height: 15.5rem;
}
.swiper-wrapper {
  width: 100%;
  display: flex;
  gap: 2.5rem;
}
.swiper-slide {
  width: 20.4rem !important;
  border-radius: 2rem;
  overflow: hidden;
  margin: 0 !important;
  border: 0.1rem solid var(--color-dark--3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide img {
  margin: auto 0;
  width: 14.6rem;
  display: block;
  /* height: 100%; */
}
.swiper-slide p {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  height: 4.1rem;
  margin: 0;
  background-color: var(--color-dark--3);
}
/* ************************ */
/* ************************ */
/* hot-car-section-section */
.hot-car-section {
  padding: 2rem 3.6rem 0;
}
.hot-car-item {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  border-top: 0.1rem solid var(--color-dark--3);
}
.hot-car-item:first-child {
  border-top: none;
}
.hot-car-img {
  width: 24.9rem;
  display: block;
  border-radius: 2rem;
}
.hot-cat-text-box {
  padding: 0.8rem 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.hot-cat-text-box * {
  margin: 0;
}
.hot-cat-text {
  font-size: 2.8rem;
  font-weight: 600;
}
.hot-cat-version {
  font-size: 2.8rem;
  font-weight: 600;
}
.hot-cat-man-price {
  font-size: 2.2rem;
  font-weight: 500;
  color: #6c6c6c;
}

.hot-cat-money {
  color: var(--color-red--3);
  font-size: 2.2rem;
  font-weight: 600;
}
.price {
  font-size: 3.2rem;
  font-weight: 600;
  margin-right: 0.2rem;
}
