.main {
  padding-bottom: 11.2rem;
}
.linear-bac {
  position: absolute;
  top: 0;
  height: 15rem;
  width: 100%;
  background: linear-gradient(#4481eb, #86defc);
  z-index: -1;
}
/* ************************ */
/* ************************ */
/* head--section */
.head-box {
  padding: 8.4rem 3.1rem 0 3.1rem;
}
.head-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-back-icon {
  width: 1.47rem;
  height: 2.65rem;
}
.head-text {
  font-size: 3.2rem;
  color: #fff;
}
.head-message-icon {
  width: 3.4rem;
  height: 3.5rem;
}
