.main {
  padding-bottom: 11.2rem;
}
.linear-bac {
  position: absolute;
  top: 0;
  height: 15rem;
  width: 100%;
  background: linear-gradient(#4481eb, #86defc);
  z-index: 50;
}
/* ************************ */
/* ************************ */
/* head--section */
.head-section {
  padding: 0 3.1rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  background: linear-gradient(#4481eb, #86defc);
}
.head-box {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-back-icon {
  width: 1.47rem;
  height: 2.65rem;
}
.head-text {
  font-size: 3.2rem;
  color: #fff;
  margin: 0;
}
.head-message-icon {
  width: 3.4rem;
  height: 3.5rem;
}
/* ************************ */
/* ************************ */
/* city--section */
.city-section {
  margin-top: 0rem;
  padding: 2.7rem 3.2rem;
  position: fixed;
  top: 15rem;
  width: 100%;
  z-index: 50;
  background-color: #fff;
}
.city-box {
  display: flex;
  justify-content: space-between;
}
.select-box {
  position: relative;
}
.choose-select {
  border: none;
  background-color: transparent;
  font-size: 2.6rem;
  font-weight: 500;
  padding-right: 2rem;
  appearance: none;
  letter-spacing: 0.2rem;
  color: #252525;
}

.select-box::before {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-15%);
  content: "";
  border: 0.72rem solid #252525;
  border-left: 0.72rem solid transparent;
  border-right: 0.72rem solid transparent;
  border-bottom: 0.72rem solid transparent;
}
/* ************************ */
/* ************************ */
/* car--section */
.car-message-section {
  margin-top: 25rem;
}
.car-message-box {
  border-top: 0.8rem solid #e5e5e5;
}
.car-message-item {
}
.car-item1-box {
  padding: 3.4rem;
  display: flex;
  gap: 3.6rem;
  border-bottom: 0.1rem solid #e5e5e5;
}
.car-message-img-box {
}
.car-img {
  width: 18.7rem;
}
.car-message-text-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-message-text {
}
.car-message-title {
  font-size: 3.2rem;
  color: #252525;
  font-weight: 500;
}
.car-message-title--2 {
  text-align: right;
}
.car-message-time {
  font-size: 2rem;
  color: #626262;
}
.message-time {
  margin-right: 0.8rem;
}
.car-message-line {
  width: 18.6rem;
  height: 1.2rem;
}
.car-item2-box {
  padding: 1.9rem 3rem;
  border-bottom: 0.8rem solid #e5e5e5;
}
.car-type-message {
  font-size: 2.4rem;
  color: #252525;
}
.car-text-box {
  font-size: 2.4rem;
  color: #858585;
  display: flex;
  gap: 12.6rem;
}
