.main {
  padding-bottom: 11.2rem;
}
.linear-bac {
  position: absolute;
  top: 0;
  height: 78.6rem;
  width: 100%;
  background: linear-gradient(
    var(--color-brand--1),
    rgb(137, 197, 240),
    rgba(255, 255, 255, 0.022)
  );
  z-index: -2;
}
.bgpng {
  position: absolute;
  top: 0;
  height: 50rem;
  width: 100%;
  z-index: -1;
}
.backsvg {
  display: flex;
  justify-content: space-between;
  padding: 8.7rem 5.1rem;
  align-items: center;
}

.backsvg span {
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
}
.loginback {
  width: 1.47rem;
  height: 2.65rem;
}
.function22icon {
  height: 3.6rem;
  width: 3.4rem;
}
.logword {
  padding: 0 5.1rem 4.6rem;
  font-size: 4.8rem;
  color: white;
  letter-spacing: 0.6rem;
}

.goload {
  padding-left: 5.8rem;
}
.inputuser {
  padding: 0 5.1rem;


}
.inputuer-box {
  display: flex;
  flex-direction: column;
  padding: 6.6rem 2.5rem 0 2.5rem;
  background: white;
  border-radius: 2rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  
}
.usernumber {
  height: 9.6rem;
  display: block;
  background-color: #ebeaea;
  border-radius: 9.6rem;
  font-size: 3.2rem;
  border-style: none;
  padding-left: 12.3rem;
  width: 100%;
}

.inputbox {
  position: relative;
  width: 100%;
  margin-bottom: 7.7rem;
}
.inputbox::before {
  content: "+86";
  position: absolute;
  font-size: 3.6rem;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 3.8rem;
}

.usernumber::placeholder {
  border-left: 0.1rem dashed #959595;
  padding-left: 3.3rem;
}
.usercode {
  height: 9.6rem;
  background-color: #ebeaea;
  border-radius: 9.6rem;
  font-size: 3.2rem;
  padding-left: 3.7rem;
  border-style: none;
  width: 100%;
}
.codebox::before {
  content: "获取验证码";
  position: absolute;
  font-size: 2.8rem;
  background: linear-gradient(to top, #4481eb, #04befe);
  height: 8.6rem;
  font-size: 2.8rem;
  color: white;
  border-radius: 9.6rem;
  width: 18.1rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codebox {
  position: relative;
}

.usersumbit {
  margin-top: 11.9rem;
  height: 9.6rem;
  color: white;
  border-radius: 9.6rem;
  font-size: 3.2rem;
  border-style: none;
  background: linear-gradient(to top, #4481eb, #04befe);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
}

.usertext {
	margin: 0;
	margin-bottom :1.9rem; ;
	margin-top: 3.5rem;
	color: #767676;
	font-size: 2.4rem;
	text-align: center;
	
}

.infobuttom-section{
	padding: 15.3rem 2.9rem 0 2.9rem;
	
	
}
.infobuttom-box{}
.firstinfo{
	font-size: 2.808rem;
	text-align: center;
}
.infobuttom-box-png{}
.infobuttom-png-item{
  padding-left: 11.6rem;
  padding-top: 5.1rem;
  width: 7.2rem;
  height: 7.2rem;
  
}
.infobuttom-png-div{
  background-color: #E5E5E5 ;
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 100%;
}
.infobuttom-img{
  padding: 1.4rem 1.9rem ;
  
}
